$pk1:#204379;
$pk2:#B57556;
$pk3:#DAE4F1;
$pk4:#E2D9D3;
$pk5:#D3c3B8;
$pk6:#beb960;
$pk7:#a0bcc8;


// 顏色
$color : (
    'pk1':$pk1,
    'pk2':$pk2,
    'pk3':$pk3,
    'pk4':$pk4,
    'pk5':$pk5,
    'pk6':$pk6,
    'pk7':$pk7,

);



//背景

$bgc :(
    'pk1':$pk1,
    'pk2':$pk2,
    'pk3':$pk3,
    'pk4':$pk4,
    'pk5':$pk5,
    'pk6':$pk6,
    'pk7':$pk7,
);